<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Favoirte Characters App</title>
  </head>
  <body>
    <a href="/characters/new">Add New Characters</a>
    <h1>Welcome to the Favorite Characters App!</h1>
    <p>An app that stores all your favorite characters in fiction </p>
  </body>
</html>
